---
Checks:          '*,
                  -abseil-string-find-str-contains,
                  -altera*,
                  -bugprone-easily-swappable-parameters,
                  -bugprone-lambda-function-name,
                  -bugprone-reserved-identifier,
                  -bugprone-macro-parentheses,
                  -bugprone-branch-clone,
                  -bugprone-string-literal-with-embedded-nul,
                  -bugprone-unchecked-optional-access,
                  -cert-err58-cpp,
                  -cert-dcl21-cpp,
                  -cert-dcl37-c,
                  -cert-dcl51-cpp,
                  -cert-dcl58-cpp,
                  -clang-analyzer-optin.core.EnumCastOutOfRange,
                  -clang-analyzer-optin.performance.Padding,
                  -clang-analyzer-optin.portability.UnixAPI,
                  -clang-diagnostic-macro-redefined,
                  -clang-diagnostic-non-c-typedef-for-linkage,
                  -cppcoreguidelines-macro-usage,
                  -cppcoreguidelines-avoid-do-while,
                  -cppcoreguidelines-avoid-magic-numbers,
                  -cppcoreguidelines-avoid-non-const-global-variables,
                  -cppcoreguidelines-avoid-const-or-ref-data-members,
                  -cppcoreguidelines-missing-std-forward,
                  -cppcoreguidelines-non-private-member-variables-in-classes,
                  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
                  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
                  -cppcoreguidelines-pro-type-reinterpret-cast,
                  -cppcoreguidelines-pro-type-union-access,
                  -cppcoreguidelines-pro-type-vararg,
                  -cppcoreguidelines-rvalue-reference-param-not-moved,
                  -fuchsia-*,
                  -google-readability-casting,
                  -google-readability-function-size,
                  -google-readability-todo,
                  -google-runtime-references,
                  -hicpp-function-size,
                  -hicpp-signed-bitwise,
                  -hicpp-vararg,
                  -hicpp-no-array-decay,
                  -llvm-header-guard,
                  -llvm-include-order,
                  -llvmlibc-*,
                  -misc-const-correctness,
                  -misc-include-cleaner,
                  -misc-non-private-member-variables-in-classes,
                  -misc-no-recursion,
                  -modernize-use-trailing-return-type,
                  -readability-avoid-nested-conditional-operator,
                  -readability-function-cognitive-complexity,
                  -readability-function-size,
                  -readability-identifier-length,
                  -readability-implicit-bool-conversion,
                  -readability-magic-numbers,
                  -readability-math-missing-parentheses,
                  -readability-use-anyofallof'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle:     file