---
Checks:          '*,
                  -abseil-string-find-str-contains,
                  -altera*,
                  -bugprone-lambda-function-name,
                  -bugprone-reserved-identifier,
                  -bugprone-macro-parentheses,
                  -bugprone-branch-clone,
                  -cert-err58-cpp,
                  -cert-dcl37-c,
                  -cert-dcl51-cpp,
                  -clang-diagnostic-non-c-typedef-for-linkage,
                  -cppcoreguidelines-macro-usage,
                  -cppcoreguidelines-avoid-magic-numbers,
                  -cppcoreguidelines-avoid-non-const-global-variables,
                  -cppcoreguidelines-non-private-member-variables-in-classes,
                  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
                  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
                  -cppcoreguidelines-pro-type-reinterpret-cast,
                  -cppcoreguidelines-pro-type-union-access,
                  -cppcoreguidelines-pro-type-vararg,
                  -fuchsia-*,
                  -google-readability-function-size,
                  -google-readability-todo,
                  -google-runtime-references,
                  -hicpp-function-size,
                  -hicpp-signed-bitwise,
                  -hicpp-vararg,
                  -hicpp-no-array-decay,
                  -llvm-header-guard,
                  -llvm-include-order,
                  -llvmlibc-*,
                  -misc-non-private-member-variables-in-classes,
                  -misc-no-recursion,
                  -modernize-use-trailing-return-type,
                  -readability-function-cognitive-complexity,
                  -readability-function-size,
                  -readability-implicit-bool-conversion,
                  -readability-magic-numbers,
                  -readability-use-anyofallof'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle:     file