[submodule "lib/gcem"]
	path = lib/gcem
	url = https://github.com/kthohr/gcem.git
[submodule "lib/vnproglib"]
	path = lib/vnproglib
	url = https://github.com/UniStuttgart-INS/vnproglib.git
[submodule "lib/navio2"]
	path = lib/navio2
	url = https://github.com/UniStuttgart-INS/Navio2.git
[submodule "lib/uartsensor"]
	path = lib/uartsensor
	url = https://github.com/UniStuttgart-INS/uartsensor.git
[submodule "lib/imgui-node-editor"]
	path = lib/imgui-node-editor
	url = https://github.com/UniStuttgart-INS/imgui-node-editor.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/thedmd/imgui.git
[submodule "lib/ImGuiFileDialog"]
	path = lib/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "lib/implot"]
	path = lib/implot
	url = https://github.com/niavok/implot.git
[submodule "lib/mavlink/mavlink"]
	path = lib/mavlink/mavlink
	url = https://github.com/mavlink/c_library_v2.git
[submodule "doc/doxygen-awesome-css"]
	path = doc/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
