# Ignore the build dir
build/*

# Ignore any executables
bin/*

# Ignore documentation
doc/*

# Ignore logs
logs/*

# Ignore coverage folder
coverage/*

# Ignore all .orig files
*.orig

# Ignore Mac specific files
.DS_Store

# Ignore root level compile_commands
compile_commands.json

# Coverage file
junit.xml

# Ignore config files
config.ini

# Imgui files
NavSoS.flow
NavSoS.ini
imgui.ini