*.[cC][sS][vV] filter=lfs diff=lfs merge=lfs -text
*.[uU][bB][xX] filter=lfs diff=lfs merge=lfs -text
*.[oO][bB][sS] filter=lfs diff=lfs merge=lfs -text
*.[cC][oO][mM] filter=lfs diff=lfs merge=lfs -text
*.[gG][aA][lL] filter=lfs diff=lfs merge=lfs -text
*.[gG][lL][oO] filter=lfs diff=lfs merge=lfs -text
*.[nN][aA][vV] filter=lfs diff=lfs merge=lfs -text
*.[pP][oO][sS] filter=lfs diff=lfs merge=lfs -text
*.[vV][nN][bB] filter=lfs diff=lfs merge=lfs -text
*.[rR][nN][xX] filter=lfs diff=lfs merge=lfs -text
*.[sS][dD][xX] filter=lfs diff=lfs merge=lfs -text
*.[gG][eE][oO] filter=lfs diff=lfs merge=lfs -text
*.[sS][pP]3 filter=lfs diff=lfs merge=lfs -text
*.[0-9][0-9][a-zA-Z] filter=lfs diff=lfs merge=lfs -text
*.[pP][dD][fF] filter=lfs diff=lfs merge=lfs -text
