# Ignore the build dir
build/Debug/*
build/Release/*

# Ignore any executables
bin/Debug/*
bin/Release/*

# Ignore documentation
doc/*

# Ignore logs
logs/*

# Ignore all .orig files
*.orig

# Ignore Mac specific files
.DS_Store

# Ignore root level compile_commands
compile_commands.json

# Ignore config files
config.ini
config-dataflow.ini